body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-btn:disabled {
  position: relative;
  //display:block;
  height: 50px;
  width: 150px;
  margin: 10px 5px;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 13px;
  color: #black;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.main-btn {
  position: relative;
  //display:block;
  height: 50px;
  width: 150px;
  margin: 10px 5px;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 13px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.main-btn-drk:disabled {
  position: relative;
  //display:block;
  height: 50px;
  width: 150px;
  margin: 10px 5px;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 13px;
  color: gray;
  /* border: 2px #383736 solid;
  border-radius: 4px; */
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.main-btn-drk {
  position: relative;
  //display:block;
  height: 50px;
  width: 150px;
  margin: 10px 5px;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 13px;
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}


.svg{
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}

.svg:before{
  position:absolute;  
  content:"";
  background: url(https://f.cl.ly/items/3H3A0D1N281a2T280F3o/heist.svg) no-repeat center center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.svg:after {
  content: "";
  position: absolute;
  background: #d19b26;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}
.svg:hover{
  color:white;
  border: 0px #d19b26 solid;
}
.svg:hover:before {
  opacity: .8;
}
.svg:hover:after {
  top: 0;
}
